@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(223, 223, 223);
}

h1,
h3 {
    text-align: center;
    padding: 10px;
}

pre {
    display: block;
    white-space: pre;
    margin: 0;
    /* width: inherit; */
}

code {
    display: block;
    padding: 10px;
    font-size: 14px;
    /* background-color: gray; */
}

p {
    margin: 20px;
}

#main {
    display: flex;
    justify-content: space-around;
}

.section {
    width: 49vw;
    display: flex;
    flex-direction: column;
}

.options {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.wrong-way {
    background-color: rgba(255, 154, 154, 0.5);
}

.right-way {
    background-color: rgba(149, 255, 149, 0.5);
}
